* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --body: #262d46;
  --header-footer: rgba(51, 57, 78, 1);
  --main: rgba(15, 40, 54, 1);
  --nav-hover: rgba(130, 155, 243, 1);
  --footer-hover: rgba(61, 74, 120, 1);
  --nav: rgba(205, 212, 236, 1);
  --font: white;
}
body {
  width: 100%;
  height: 1024px;
  background-color: var(--body);
}
header {
  height: 60px;
  background-color: var(--header-footer);
  padding: 0px 120px;
}
.header {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  color: var(--font);
}
.nav {
  color: var(--nav);
  display: flex;
  flex-direction: row;
  list-style: none;
}
ul:hover {
  cursor: pointer;
  color: var(--nav-hover);
}
ul {
  margin-left: 24px;
}
main {
  height: 861px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
h1 {
  color: var(--font);
  margin-top: 36px;
}
.mainContainer {
  height: 791px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main {
  width: 423px;
  height: 526px;
  border-radius: 40px;
  background-color: var(--main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-up {
  height: 160px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.location {
  width: 200px;
  margin-left: 41px;
  color: var(--font);
}
.location-up {
  display: flex;
}
.map-icon {
  display: flex;
}

#latitude {
  margin-left: 0px;
}
#longitude {
  margin-left: 27px;
}
p {
  font-style: italic;
}
#dayNight {
  width: 110px;
  height: 110px;
  margin-right: 10px;
}
.main-middle {
  height: 240px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#degrees {
  color: var(--font);
  font-size: 64px;
}
.main-down {
  width: 323px;
  display: flex;
  justify-content: space-between;
}
#farengate {
  color: var(--font);
}
#windSpeed {
  color: var(--font);
}
.wind {
  display: flex;
}

footer {
  display: flex;
  justify-content: center;
}
.footer {
  width: 28px;
  height: 28px;
  background-color: var(--header-footer);
  margin: 8px;
  border-radius: 6px;
  color: var(--font);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer:hover {
  background-color: var(--footer-hover);
  cursor: pointer;
}
